body {
    box-sizing: border-box;
    color: #fff;
}

// media query
/*
@media (max-width: 768px) {
    .ltr-btn {
        width: 3rem;
        height: 1.5rem;
    }
}
  
@media (min-width: 768px) {
    .ltr-btn {
        width: 3.5rem;
        height: 1.8rem;
    }
}
  
@media (min-width: 992px) {
    .ltr-btn {
        width: 4rem;
        height: 2rem;
    }
}

@media (min-width: 1200px) {
    .ltr-btn {
        width: 4rem;
        height: 2rem;
    }
}
*/